# Environment variables
.env
*.env
.env.local
.env.*.local

# Compiled output
target/
*.class

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Add this line
src/main/resources/.env

# Environment files
.env
src/main/resources/.env

